Makefile
Makefile.in
*.[oa]
*.l[oa]
.deps
.libs
/aclocal.m4
/autom4te.cache
/client/cluvirtadm
/cluvirtd.init
/cluvirt.spec
/compile
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/daemon/cluvirtd
/depcomp
/install-sh
/libtool
/ltmain.sh
/man/cluvirtadm.8
/man/cluvirtd.8
/missing
/stamp-h1
